body {
}
body {
    font-family: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.scroll-area {
    scrollbar-width: thin;
    scrollbar-color: #cbd5e1 transparent;
}

    .scroll-area::-webkit-scrollbar {
        width: 8px;
    }

    .scroll-area::-webkit-scrollbar-thumb {
        background: #cbd5e1;
        border-radius: 9999px;
    }

.toast {
    animation: slideUp .3s ease;
}

@keyframes slideUp {
    from {
        transform: translateY(20px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}